.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
  text-shadow: 2px 2px rgba(111, 145, 150, 1);
  font-size: 140%;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: rgb(68, 222, 179);
  background: linear-gradient(
    90deg,
    rgba(68, 222, 179, 1) 0%,
    rgba(111, 145, 150, 1) 29%,
    rgba(0, 212, 255, 1) 79%
  );
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 183, 140);
  align-items: center;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article {
  background: rgb(68, 222, 179);
  background: linear-gradient(
    90deg,
    rgba(68, 222, 179, 1) 0%,
    rgba(111, 145, 150, 1) 29%,
    rgba(0, 212, 255, 1) 79%
  );
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

img {
  width: 25%;
  height: 100%;
}
